name: NodeJS Testing

on:
  push:
    branches:
      - master
      - v2
      - v3
  pull_request:

jobs:
  node_test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Setup NodeJS
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: npm
      - name: Install Node Dependencies
        run: npm ci
        env:
          CI: TRUE
      - name: Save Code Linting Report JSON
        # npm script for ESLint
        # eslint --output-file eslint_report.json --format json src
        # See https://eslint.org/docs/user-guide/command-line-interface#options
        run: npm run lint:report
        continue-on-error: true
      - name: Annotate Code Linting Results
        uses: ./
        with:
          repo-token: "${{ secrets.GITHUB_TOKEN }}"
          report-json: "eslint_report.json"
      - name: Upload ESLint report
        uses: actions/upload-artifact@v4
        with:
          name: eslint_report.json
          path: eslint_report.json
          retention-days: 7
      - name: Test That The Project Builds
        run: npm run build
      - name: Run Unit Tests
        run: npm run test